---
interface Props {
	title: string;
	cta: string;
  href: string;
  target?: string;
}

const { title, cta, href, target } = Astro.props;
---

<div class="cta rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
  <h3 class="text-center dark:text-white mt- text-base font-medium tracking-tight">{title}</h3>
  <div class="text-center dark:text-white mt-2 text-lg"><slot/></div>
	<div class="text-center">
		<div class="cta-button inline-flex items-center text-lg justify-center font-medium px-5 py-3 mt-4 mb-1 no-underline text-base leading-6 text-white whitespace-no-wrap bg-blue-600 border border-blue-700 rounded-md">
			<a {href} {target} class="no-underline">{cta}</a>
		</div>
	</div>
</div>

<style>
  .cta {
    background-color: var(--sl-color-bg-nav);
  }

  .cta-button a, .cta-button a:hover {
    color: #fff;
  }
</style>
